@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-yellow-500: #b5946e;
  --color-gray-50: #ffffff;
  --color-gray-100: #f7f5f3;
  --color-gray-200: #eaeaea;
  --color-gray-300: #adadad;
  --color-gray-600: #b9b9b9;
  --color-gray-700: #717171;
  --color-gray-800: #362e25;
  --color-gray-900: #000000;

  --shadow-xs: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}
