name: Rebuild on Strapi Content Change

on:
  repository_dispatch:
    types: [strapi-content-updated]

jobs:
  rebuild:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger redeploy on DigitalOcean
        run: |
          curl -X POST "https://api.digitalocean.com/v2/apps/09e996b8-62fc-4581-81ca-952507195263/deployments" \
          -H "Authorization: Bearer ${{ secrets.DIGITALOCEAN_API_TOKEN }}" \
          -H "Content-Type: application/json"
          -d '{"force_build": true}'
